html{
  background-color: #333;
  /* font-family: 'Lobster Two', cursive; */
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Asap', sans-serif;
}
::selection{
  background-color: #357cff8e;
}


/* Identification admin */

#logo{
  width: 25%;
}
#titreAdmin{
  color: #fff;
}
#formAdmin{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_admin{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 20vw;
  font-size: 1.5vw;
  color: #fff;
  font-weight: lighter;
}
.divLogin,
.divMdp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loginAdmin,
#mdpAdmin{
  margin-top: 5%;
  padding: 2% 0 2% 0;
  text-align: center;
  color: #333;
  border-radius: 6px;
  border: none;
  outline:none
}
#bouton_connexion{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0 5% 0;
  margin-top: 20%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #ed1450;
  border: none;
  border-radius: 4px;
  width: 80%;
}
#bouton_connexion:hover,
#bouton_connexion:active{
  background-color: #cf0c44;
  outline:none
}


/* Formulaire ajout promo */

header{
  display: flex;
  flex-direction: row;
}
.logo_header{
  width: 15%;
}
.logoHeader{
  width: 100%;
}
#titreAjoutPromo,
#titreListePromo{
  margin-left: 25%;
  width: 85%;
  color: #fff;
}
#formPromo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form_promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ed1450;
  color: #fff;
  width: 60%;
  border-radius: 4px;
}
#form_promo label h2{
  margin-top: 20%;
}
#dateHeureLieuInter{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}
#dates,
#heures,
#lieuInter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  margin-top: 2%;
  text-align: center;
}
#date_deb,
#date_fin,
#liste_lieu,
#heure_deb,
#heure_fin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}
#date_deb input,
#date_fin input,
#heure_deb input,
#heure_fin input,
#ville,
#liste_lieu option,
#identiteInter,
.identite,
.login{
  padding: 2% 0 2% 0;
  margin-top: 5%;
  text-align: center;
  color: #333;
  background-color: #fff;
  border-radius: 6px;
  border: none;
  outline: none;
}
#intervenant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  text-align: center;;
}
#equipe{
  display: flex;
  flex-direction: column;
  width: 90%;
}
.equipe_input{
  display: flex;
  flex-direction: row;
}
.equipe_nom,
.equipe_prenom,
.equipe_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  width: 22%;
  margin-left: 5%;
}
.identite,
.login{
  display: flex;
  width: 100%;
  height: 100%;
}
#boutons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20%;
  margin-top: 3%;
}
.remove{
  align-self: center;
  margin-top: 23px;
  margin-left: 7%;
  width: 30px;
  height: 30px;
}
#add,
.remove{
  padding: 1%;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: solid 2px #fff;
  background-color: #ed1450;
  outline: none;
}
#add{
  margin-left: 2%;
  width: 40px;
  height: 40px;
}
#bouton_connexion::-moz-focus-inner,
#selection option::-moz-focus-inner,
#add::-moz-focus-inner,
.remove::-moz-focus-inner,
#valider::-moz-focus-inner{
  border: 0;
}
#valider{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0 3% 0;
  cursor: pointer;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  background-color: #ed1450;
  border: solid 2px #fff;
  border-radius: 4px;
  width: 20%;
  height: 10%;
  margin: 5% 0 3% 0;
  outline: none;
}


/* Liste des promos */

#listePromo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#liste_promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  width: 50%;
  border-radius: 4px;
  padding: 2%;
}
#addPromo{
  margin-left: 2%;
  padding: 1%;
  text-align: center;
  color: #333;
  border-radius: 4px;
  border: solid 2px #333;
  background-color: #fff;
  width: 40px;
  height: 40px;
  outline: none;
}
#tablePromo{
  border-spacing: 0 10px;
}
#theadPromo tr{
  border-collapse: collapse;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 0 0 2px #333;
  border-style: hidden;
  height: 5vw;
}
#theadPromo th,
#bodyPromo td{
  width: 20vw;
  text-align: center;
}
#bodyPromo tr:last-child{
  border-collapse: collapse;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 0 2px #333;
  border-style: hidden;
}
#bodyPromo tr{
  border-collapse: collapse;
  box-shadow: 0 0 0 2px #333;
  border-style: hidden;
  height: 5vw;
}